/* TODO: 자유롭게 바탕화면 시스템의 CSS를 만들어 보세요! */
.desktop{position:relative; user-select:none; }
.icon {display:block; padding:12px; box-sizing:border-box; }
.icon__ico{width:36px; height:36px; border:1px solid #333; border-radius:50%; background-color:#d9d9ee; }
.folder {display:block; padding:12px; box-sizing:border-box; }
.folder__ico{width:36px; height:36px; border:1px solid #333; border-radius:8px; background-color:#eeeed9; }

/* .window{display:block; position:absolute; width:400px; height:600px; border:1px solid #000; border-radius:12px; background:#fff; z-index:10; box-sizing:border-box; overflow:hidden; }
.window__header{position:relative; width:100%; height:40px; line-height:40px; padding:0 16px; background:#000; color:#fff; box-sizing:border-box;}
.window__content{display:flex; justify-content:flex-start; align-items:flex-start; flex-wrap:wrap; flex-direction:column; width:100%; height:100%; padding:20px 24px; box-sizing:border-box;}

.folder__wrap{position:absolute; top:0; left:0; width:200px; height:200px; border:1px solid #000; background:#fff; z-index:10; }
.folder__header{position:relative; width:100%; height:36px; line-height:36px; padding:0 16px; background:#77f; color:#fff; box-sizing:border-box;}
.folder__content{height:100%; color:#999; text-align:center; } */

.btn-delete{position:absolute; top:50%; right:12px; width:30px; height:30px; background:url("https://image.club5678.com/imgs/mobile/new_club/btn/btn_cls_s_w.png") no-repeat center / auto 24px; transform:translateY(-50%); appearance:none; }

.window{display:block; position:absolute; width:60%; max-width:400px; height:80vh; max-height:600px; border:1px solid #333; border-radius:12px; background:#fff; z-index:10; box-sizing:border-box; overflow:hidden; }
.window__header{position:relative; width:100%; height:40px; line-height:40px; padding:0 16px; background:#333; color:#fff; box-sizing:border-box; }
.window__content{display:flex; justify-content:flex-start; align-items:flex-start; flex-wrap:wrap; flex-direction:column; width:100%; height:100%; padding:16px 20px; box-sizing:border-box; }

.window .window{top:10px; left:10px; height:50%; max-height:200px; z-index:200; }
.window .window .window__header{height:36px; line-height:36px; background:#77f; }
.window .window .window__content{display:block; height:100%; font-size:13px; color:#999; text-align:center;}